/* REVISAR */


  /*
   * Navbar
   */
 

  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .horario-selectors {
    margin-right: 8px;
    width: 130px;
  }

  .google-calendar{
    margin-right: 8px;
    margin-left: 8px;
  }

  .selector-days{
    margin-top: 5px;
    margin-bottom: 20px;
    border: transparent;
    /* background-color: transparent;  */
    background: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 150px;
  }
  
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* -----------horario---------- */


@media screen and (max-width:700px) {
 #titulo_pagina_horario{
  display: none;
 }
}


@media screen and (min-width:700px) {
  .schedule {
    display: grid;
    grid-gap: 0.6em;
    grid-template-rows:
    [fila-dias] auto
    [time-0800] 1em
    [time-0830] 1em
    [time-0900] 1em
    [time-0930] 1em
    [time-1000] 1em
    [time-1030] 1em
    [time-1100] 1em
    [time-1130] 1em
    [time-1200] 1em
    [time-1230] 1em
    [time-1300] 1em
    [time-1330] 1em
    [time-1400] 1em
    [time-1430] 1em
    [time-1500] 1em
    [time-1530] 1em
    [time-1600] 1em
    [time-1630] 1em
    [time-1700] 1em
    [time-1730] 1em
    [time-1800] 1em
    [time-1830] 1em
    [time-1900] 1em
    [time-1930] 1em
    [time-2000] 1em
    [time-2030] 1em
    [time-2100] 1em;
    
    grid-template-columns:
    [times] 4em
    [lunes-start] 0.33fr
    [lunes-first-third] 0.17fr
    [lunes-half] 0.17fr
    [lunes-second-third] 0.33fr
    [lunes-end martes-start] 0.33fr
    [martes-first-third] 0.17fr
    [martes-half] 0.17fr
    [martes-second-third] 0.33fr
    [martes-end miercoles-start] 0.33fr
    [miercoles-first-third] 0.17fr
    [miercoles-half] 0.17fr
    [miercoles-second-third] 0.33fr
    [miercoles-end jueves-start] 0.33fr
    [jueves-first-third] 0.17fr
    [jueves-half] 0.17fr
    [jueves-second-third] 0.33fr
    [jueves-end viernes-start] 0.33fr
    [viernes-first-third] 0.17fr
    [viernes-half] 0.17fr
    [viernes-second-third] 0.33fr
    [viernes-end];

    
  }
}
#day-selector {
  display: none; 
}

@media screen and (max-width: 991px) {
  .schedule {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  .horas-por-dia {
    display: none;
  }
  #day-selector {
    display: flex;
    justify-content: center;
  }
}



.horas-por-dia {
  grid-column: times;
}

.dias-de-la-semana {
  display: none; 
}

@supports( display:grid ) {
  @media screen and (min-width:992px) {
    .dias-de-la-semana {
      display: block;
      padding: 10px 5px 5px;
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: rgba(255,255,255,.9);
    }
  }

  .dias-de-la-semana:not(:last-of-type)::after {
    content: '';
    position: absolute;
    /* top: 0;
    bottom: 0; */
    right: -7px; 
    border-left: 2px dashed #cacaca;
     height: calc(100% + 57em); /* Subtract the height of grid rows below 8:00 from the total height */
}
}

/* Small-screen & fallback styles */
.session {
  margin-bottom:  1em;
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer on hover */
}


@supports( display:grid ) {
  @media screen and (min-width: 992px) {
    .session {
      margin: 0;
    } 
  }
}

/*************************
 Estilos
 *************************/

.session {
  padding: .4em;
  border-radius: 8px;
  font-size: 12px;
  box-shadow:
    rgba(255,255,255,.6) 1px 1px 0,
    rgba(0,0,0,.3) 4px 4px 0;
}


/* .session .session-title-wrapper {
  display: block;
  align-items: center;
} */

/* .session .session-title-wrapper .session-info-wrapper {
  display: block;
  flex-direction: column;
  margin-left: 1rem;
} */


/* .session  .session-title-wrapper .session-info-wrapper  .session-asignatura {
  color: #3c4142;
  font-size: 14px;
}

.session .session-title-wrapper .session-info-wrapper .session-aula {
  color: #B1BAC5;
  font-size: 13px;
} */

.session-asignatura, .session-aula, .session-grupo {
  display: block;
}
.session-time{
  display: block;
  font-size:.8em;
}

.session-asignatura, .horas-por-dia {
  margin: 0;
  font-size: 1em;
}

.dias-de-la-semana, .horas-por-dia {
  font-weight: bold;
  font-size:.75em;
}

/* default palette */
.default-color-1 {
  background-color: #1259B2;
  color: #fff;
}

.default-color-2 {
  background-color: #687f00;
  color: #fff;
}

.default-color-3 {
  background-color: #544D69;
  color: #fff;
}

.default-color-4 {
  background-color: #c35500;
  color: #fff;
}

.default-color-5 {
  background-color: #A63A50;
  color: #fff;
}

.default-color-6 {
  background-color: #2C3E50; 
  color: #fff;
}

.default-color-7 {
  background-color: #8E44AD;
  color: #fff;
}

.default-color-8 {
  background-color: #d0b623; 
  color: #fff;
}

.default-color-9 {
  background-color: #0b8f75; 
  color: #fff;
}

.default-color-10 {
  background-color: #1fa1bf;
  color: #fff;
}

.default-color-11 {
  background-color: #27AE60; 
  color: #fff;
}

.default-color-12 {
  background-color: #e55b4c; 
  color: #fff;
}

/* a lighter cohesive palette */
.color-1 {
  background-color: #FF6F61; /* Coral */
  color: #fff;
}

.color-2 {
  background-color: #6B5B95; /* Purple */
  color: #fff;
}

.color-3 {
  background-color: #88B04B; /* Green */
  color: #fff;
}

.color-4 {
  background-color: #FFA07A; /* Light Salmon */
  color: #fff;
}

.color-5 {
  background-color: #f4bfbe; /* Light Pink */
  color: #fff;
}

.color-6 {
  background-color: #92A8D1; /* Light Blue */
  color: #fff;
}

.color-7 {
  background-color: #955251; /* Deep Red */
  color: #fff;
}

.color-8 {
  background-color: #B565A7; /* Lavender Purple */
  color: #fff;
}

.color-9 {
  background-color: #009B77; /* Teal */
  color: #fff;
}

.color-10 {
  background-color: #DD4124; /* Fiery Red */
  color: #fff;
}

.color-11 {
  background-color: #D65076; /* Raspberry */
  color: #fff;
}

.color-12 {
  background-color: #45B8AC; /* Mint */
  color: #fff;
}

/* a dark palette */
.dark-color-1 {
  background-color: #1B2631; /* Dark Blue */
  color: #fff;
}

.dark-color-2 {
  background-color: #4A235A; /* Dark Purple */
  color: #fff;
}

.dark-color-3 {
  background-color: #145A32; /* Dark Green */
  color: #fff;
}

.dark-color-4 {
  background-color: #641E16; /* Dark Red */
  color: #fff;
}

.dark-color-5 {
  background-color: #512E5F; /* Dark Lavender */
  color: #fff;
}

.dark-color-6 {
  background-color: #154360; /* Navy Blue */
  color: #fff;
}

.dark-color-7 {
  background-color: #784212; /* Dark Brown */
  color: #fff;
}

.dark-color-8 {
  background-color: #0B5345; /* Dark Teal */
  color: #fff;
}

.dark-color-9 {
  background-color: #7D3C98; /* Dark Magenta */
  color: #fff;
}

.dark-color-10 {
  background-color: #922B21; /* Dark Burgundy */
  color: #fff;
}

.dark-color-11 {
  background-color: #1C2833; /* Almost Black */
  color: #fff;
}

.dark-color-12 {
  background-color: #6E2C00; /* Dark Orange */
  color: #fff;
}

/* a light palette */
.light-color-1 {
  background-color: #FAD7A0; /* Light Peach */
  color: #333;
}

.light-color-2 {
  background-color: #E8DAEF; /* Light Lavender */
  color: #333;
}

.light-color-3 {
  background-color: #D5F5E3; /* Light Mint */
  color: #333;
}

.light-color-4 {
  background-color: #FCF3CF; /* Light Yellow */
  color: #333;
}

.light-color-5 {
  background-color: #F9E79F; /* Light Gold */
  color: #333;
}

.light-color-6 {
  background-color: #EBDEF0; /* Light Purple */
  color: #333;
}

.light-color-7 {
  background-color: #AED6F1; /* Light Blue */
  color: #333;
}

.light-color-8 {
  background-color: #A9DFBF; /* Light Green */
  color: #333;
}

.light-color-9 {
  background-color: #F5CBA7; /* Light Coral */
  color: #333;
}

.light-color-10 {
  background-color: #FADBD8; /* Light Pink */
  color: #333;
}

.light-color-11 {
  background-color: #FDEDEC; /* Very Light Pink */
  color: #333;
}

.light-color-12 {
  background-color: #D6EAF8; /* Very Light Blue */
  color: #333;
}

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* #map-container {
  position: relative;
  height: 100%;
  width: 100%;
} */

#map-container {
  position: relative;
  width: 100%;
  height: 88vh;
  /* margin-top: 20px; */
  border: 1px solid #ccc;
  /* background-color: white; */
}

#map{
  height: 100%;
  width: 100%;
  position: relative;
}

.leaflet-container {
  background-color: white !important; 
}

#floor-select {
  position: absolute;
  top: 53px;
  right: 12px;
  z-index: 800;
}
/* #route-finding {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
} */

/* #route-finding {
  position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 800;
    width: 300px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    transition: bottom 0.5s ease, opacity 0.5s ease; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}  */

#route-finding {
  position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 800;
  
    padding: 20px;
    background-color: rgb(253, 253, 253);
    /* color: #fff; */
    /* text-align: center; */
    border-radius: 10px;
    /* transition: bottom 0.5s ease, opacity 0.5s ease;  */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  width: 300px;
}
#route-finding input[type="text"] {
  width: 150px;
  padding: 8px;
  font-size: 16px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}
.dropdown-combo {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  display: none;
  background-color: #fff;
  z-index: 1000; /* Ensure dropdown is above other elements */
}
.dropdown-combo .dropdown-item {
  padding: 10px;
  cursor: pointer;
}
.dropdown-combo .dropdown-item:hover {
  background-color: #f0f0f0;
}

#find-route {
  background-color:  rgb(24, 158, 82);
  border: 0px;
  position: flex;

}

#change-route {
  padding: 0%; 
  margin-right: 10px;
  background-color: transparent;  
  border: 0cap; 
  transform: translateX(-50%) rotate(90deg);
  
}

#clickable-destino-location , #clickable-origen-location {
  padding: 0%; 
  margin-left: 8px;
  background-color: transparent;  
  border: 0cap; 
}
#dismiss-finder {
  padding: 0%; 
  background-color: transparent;  
  border: 0cap; 
  margin-top: -15px ;
}
#button-see-all {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 900;
  border: 1px solid rgb(184, 182, 182);
  background-color: rgb(241, 241, 241);
}

#button-search {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 900;
  border: 1px solid rgb(184, 182, 182);
  background-color: rgb(241, 241, 241);
}

.floor-button {
  display: block;
  width: 100%;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 0px;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.leaflet-popup .leaflet-popup-close-button {
  display: none;
}

/* INICIO CARDS */

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}


.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}



.card-day-info {
  color: #ff9b9b;
  padding-bottom: 10px;
}
.contenido-cards .contenido-cards-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  /* justify-content: center; */
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-cooperativas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-cooperativas .contenido-cards-icon{
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}



.contenido-cards .contenido-cards-title-wrapper .contenido-cards-laboratorio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8faf8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-laboratorio .contenido-cards-icon {
  color: #17d1bd;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}


/* 
.contenido-cards .contenido-cards-title-wrapper .contenido-cards-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffeded;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-date-info .contenido-cards-date-day {
  color: #d63030;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-date-info .contenido-cards-date-month {
  color: #d63030;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
} */

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-teoria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(252, 246, 230);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-teoria .contenido-cards-icon {
  color: #FFC868;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}


.contenido-cards .contenido-cards-title-wrapper .contenido-cards-noclass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebedee;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-noclass .contenido-cards-icon {
  color: #394856;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}


.contenido-cards .contenido-cards-title-wrapper .contenido-cards-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-meeting-info .contenido-cards-pro-title {
  color: #3c4142;
  font-size: 14px;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-meeting-info .contenido-cards-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}

.contenido-cards .contenido-cards-title-wrapper .contenido-cards-meeting-info .contenido-cards-meeting-class {
  color: #B1BAC5;
  font-size: 13px;
}

.contenido-cards .contenido-cards-meeting-action {
  text-align: right;
}

.contenido-cards .contenido-cards-meeting-action a {
  text-transform: uppercase;
}

/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 } */

 .carousel-control-next,
 .carousel-control-prev  {
  opacity: 0;
  color:transparent
 }
 
  .carousel-control-next:focus,
 .carousel-control-prev:focus  {
   filter: invert(100%);
   opacity: 0; 
 } 

 .carousel-control-next:hover,
.carousel-control-prev:hover  {
  filter: invert(100%);
  opacity: 1; 
}

