
.zona-principal-izquierda{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 250px;
    max-width: 250px;
    z-index: 10;
    background: rgb(255, 255, 255);
    border-right: 1px solid gray;
    &.editor{
        flex: 0 0 250px;
        max-width: 250px;
    }
}