# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# variables
.env

# archivo de macOS que almacena atributos de carpeta
.DS_Store

# Dependency directories
node_modules/

#pruebas
server/modules/pruebas/